html {
  font-family: 'Inter', sans-serif;
}

body {
    background-color: rgb(222,226,230);
    background-image: radial-gradient(circle, rgba(222,226,230,1) 0%, rgba(211,211,211,1) 100%);
}

.nav-item button {
    font-weight: 700;
}

.h1, h1 {
  font-weight: 600;
}

.container-person {
  background-color: white;
  border-radius: 10px;
  border: none;
  padding: 5px 5px;
  margin-top: 5px;
  margin-bottom: 4rem;
}

.bg-dark {
  background-color: black !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  font-weight: bold;

  &:focus, &:hover {
    color: white;
    font-weight: bold;
  }
}

#dashboard_wrapper > .row {
  &:first-child, &:last-child {
    display: none;
  }
}

.stepper + div button {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff; 
}

.stepper + div button:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.fa.fa-trash {
  color: red;
}

footer {
  background-color: black;
  color: white;

  a {
    background-color: black;
    color: white;

    &:hover {
      background-color: black;
      color: white;
    }
  }

  span {
    color: rgba(255, 255, 255, 0.6);
  }
}